body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.datos-p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.datospp:first-child {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.habil2 {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.h3 {
    margin-top: 10px;
}

.p {
    margin: 2vh 10vw;
    text-align: justify;
}

.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
}

.btn-volver:hover {
    background-color: #0056b3;
}

.progress {
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.img-galeria {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #000;
}